[package]
name = "momento"
version = "0.1.0"
authors = ["momento"]
edition = "2018"
description = "Client SDK for Momento services"
readme = "README.md"
license = "Apache-2.0"
repository = "https://github.com/momentohq/client-sdk-rust"
homepage = "https://gomomento.com/"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
momento-protos = { version = "0.42" }
log = "0.4.17"
tonic = { version = "0.8", features = ["tls", "tls-roots", "tls-webpki-roots"] }
jsonwebtoken = "8.0.1"
rand = "0.8.5"
serde = {version = "1.0", features = ["derive"] }
serde_json = "1.0.79"
chrono = {version = "0.4.19", features = ["serde"] }
thiserror = "1.0.38"

[dev-dependencies]
base64-url = "1.4.13"
env_logger = "0.9.0"
tokio = { version = "1.9.0", features = ["full"] }
tokio-test = "0.4.2"
uuid = { version = "0.8", features = ["v4"] }
