name: CD

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

env:
  CARGO_TERM_COLOR: always

jobs:
  rustfmt:
    name: Style & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Lint (rustfmt and clippy)
        run: make lint

  generate_readme:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}

      - name: Generate README
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: beta
          project_type: sdk
          sdk_language: Rust
          template_file: ./README.template.md
          output_file: ./README.md
          dev_docs_slug: rust

      - name: Verify Example README generation
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: beta
          project_type: other
          template_file: ./example/README.template.md
          output_file: ./example/README.md

      - name: Verify Rust Example README generation
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: official
          project_stability: beta
          project_type: other
          template_file: ./example/rust/README.template.md
          output_file: ./example/rust/README.md

  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    needs: [ generate_readme ]
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}
          release-type: rust
          package-name: momento
          default-branch: main
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false}]'

  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    needs: [ release-please ]
    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    if: ${{ needs.release-please.outputs.release_created == 'true' }}
    steps:
      - name: Setup repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}

      - name: Login to crates.io
        run: cargo login $CARGO_REGISTRY_TOKEN

      - name: Publish
        run: |
          make publish
          
